{{define "title"}}Your Account{{end}}

{{define "main"}}
<div>
    <div>
        <h1 class="title">Your account</h1>
        <a href="/account/password/update">Update password</a>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Joined</th>
        </tr>
        {{with .Account}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>{{humanDate .Created}}</td>
        </tr>
        {{end}}
    </table>
</div>
{{end}}